<div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="footer-copy-right">
                            <p>Copyright © 2018. All rights reserved. Template by <a href="https://colorlib.com/wp/templates/">Colorlib</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery
		============================================ -->
    <script src="javascripts/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="javascripts/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="javascripts/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="javascripts/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="javascripts/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="javascripts/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="javascripts/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="javascripts/jquery.scrollUp.min.js"></script>
    <!-- counterup JS
		============================================ -->
    <script src="javascripts/counterup/jquery.counterup.min.js"></script>
    <script src="javascripts/counterup/waypoints.min.js"></script>
    <script src="javascripts/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="javascripts/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="javascripts/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="javascripts/metisMenu/metisMenu.min.js"></script>
    <script src="javascripts/metisMenu/metisMenu-active.js"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="javascripts/sparkline/jquery.sparkline.min.js"></script>
    <script src="javascripts/sparkline/sparkline-active.js"></script>
    <!-- Chart JS
		============================================ -->
    <script src="javascripts/chart/jquery.peity.min.js"></script>
    <script src="javascripts/chart/peity-active.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="javascripts/calendar/moment.min.js"></script>
    <script src="javascripts/calendar/fullcalendar.min.js"></script>
    <script src="javascripts/calendar/fullcalendar-active.js"></script>
    <!-- tab JS
		============================================ -->
    <script src="javascripts/tab.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="javascripts/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="javascripts/main.js"></script>
    <!-- tawk chat JS
		============================================ -->
    <script src="javascripts/tawk-chat.js"></script>
</body>

</html>