<div class="library-book-area mg-t-30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-cards-item">
                            <div class="single-product-image">
                                <a href="#"><img src="img/product/profile-bg.jpg" alt=""></a>
                            </div>
                            <div class="single-product-text">
                                <img src="img/courses/ss-m20.jpg" alt="">
                                <h4><a class="cards-hd-dn" href="#">Samsung M20</a></h4>
                                <h5>SAMSUNG</h5>
                                <p class="ctn-cards">Sản phẩm bán chạy SỐ 1</p>
                                <a class="follow-cards" href="#">Xem sản phẩm</a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-review-st-item res-mg-t-30 table-mg-t-pro-n">
                            <div class="single-review-st-hd">
                                <h2>TOP 10 SẢN PHẨM BÁN CHẠY</h2>
                            </div>
                            {{#each data}}
                            <div class="single-review-st-text">
                                <img src="{{this.img}}" alt="">
                                <div class="review-ctn-hf">
                                    <h3>{{this.name}}</h3>
                                    <p>{{this.name}}</p>
                                </div>
                                <div class="review-item-rating">
                                    <i class="educate-icon educate-star"></i>
                                    <i class="educate-icon educate-star"></i>
                                    <i class="educate-icon educate-star"></i>
                                    <i class="educate-icon educate-star"></i>
                                    <i class="educate-icon educate-star"></i>
                                    {{!-- <i class="educate-icon educate-star-half"></i> --}}
                                </div>
                            </div>
                            {{/each}}
                            
                            
                            
                        </div>
                    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>