<div class="library-book-area mg-t-30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="single-review-st-item res-mg-t-30 table-mg-t-pro-n">
                            <div class="single-review-st-hd">
                                <h2>TOP 10 SẢN PHẨM BÁN CHẠY</h2>
                            </div>
                            {{#each data}}
                            <div class="single-review-st-text">
                                <img src="{{this.img}}" alt="">
                                <div class="review-ctn-hf">
                                    <h3>{{this.name}}</h3>
                                    <p>{{this.producer}}</p>
                                </div>
                                <div class="review-item-rating">
                                    {{this.quantitySold}}
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>